<% bmi_class = bmi_color(@bmi) %>
<div class="mt-4">
  <h1>How are you today, <%= current_user.name %>?</h1>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card bg-<%= bmi_class %>">
      <div class="text-center info-title-sans-serif mt-2 mb-0">
        <span class="display-4 text-white">Weight</span>
      </div>
      <div class="card-body text-right pb-0">
        <span class="display-1"><%= current_user.weight %><span class="display-4">kg</span></span>
      </div>
    </div>
  </div>
</div>