 <div class="jumbotron">
    <h1 class="fw-900">Connecting the world's athletes.</h1>
    <p class="lead fw-400">#1st running app and a community that helps people get out the door and stick with running.</p>
    <hr class="my-4">
    <p class="fw-400">You don't have to run or ride to love our features. Move&Groove works with many of your other favorite sports, like skiing, kiteboarding, crossfit, kayaking, inline skating, rock climbing, surfing, yoga and more. Give it a shot, you'll dig it.</p>
    <p class="lead text-center">
      <%= link_to "Register for free", new_user_registration_path, class: "btn btn-primary btn-lg fw-900" %>
    </p>
  </div>