 <div class="jumbotron">
    <h1 class="fw-900">Connecting the world's athletes.</h1>
    <p class="lead fw-400">#1st running app and a community that helps people get out the door and stick with running.</p>
    <hr class="my-4">
    <p class="fw-400">You don't have to run or ride to love our features. Move&Groove works with many of your other favorite sports, like skiing, kiteboarding, crossfit, kayaking, inline skating, rock climbing, surfing, yoga and more. Give it a shot, you'll dig it.</p>
    <p class="lead text-center">
      <%= link_to "Register for free", new_user_registration_path, class: "btn btn-primary btn-lg fw-900" %>
    </p>
  </div>
 <!--<div class="card">
   <div class="card-body">
   <div class="row">
     <div class="col-4">
       <div class="info info-horizontal">
         <div class="icon icon-rose">
           <i class="material-icons">group_work</i>
         </div>
         <div class="description">
           <h4 class="info-title">Collaborate</h4>
           <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
           <a href="#pablo">Find more...</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="info info-horizontal">
         <div class="icon icon-rose">
           <i class="material-icons">group_work</i>
         </div>
         <div class="description">
           <h4 class="info-title">Collaborate</h4>
           <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
           <a href="#pablo">Find more...</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="info info-horizontal">
         <div class="icon icon-rose">
           <i class="material-icons">group_work</i>
         </div>
         <div class="description">
           <h4 class="info-title">Collaborate</h4>
           <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
           <a href="#pablo">Find more...</a>
         </div>
       </div>
     </div>
   </div>
   </div>
 </div>
-->
 <div class="card text-center">
   <h4 class="fw-900 m-1 p-1 text-secondary">Trusted by winners</h4>
     <div class="card-body">
      <img src="/img/brands/fff.png" alt="FFF" width="70"/>
       <img src="/img/brands/olympic.png" alt="Olympic"  width="70"/>
       <img src="/img/brands/rm.png" alt="RM"  width="70"/>
       <img src="/img/brands/1fck.png" alt="1fck"  width="70"/>
       <img src="/img/brands/lakers.png" alt="Lakers"  width="70"/>
       <img src="/img/brands/miami.png" alt="Miami"  width="70"/>
       <img src="/img/brands/tdf.png" alt="TDF"  width="70"/>
       <img src="/img/brands/reebok.png" alt="Reebok"  width="70"/>
       <img src="/img/brands/nike.png" alt="Nike"  width="70"/>
     </div>
 </div>