<div class="jumbotron">
  <h1 class="fw-900">Connecting the world's athletes.</h1>
  <p class="lead fw-400">#1st running app and a community that helps people get out the door and stick with running.</p>
  <hr class="my-4">
  <p class="lead text-center">
    <%= link_to "Register for free", new_user_registration_path, class: "btn btn-primary btn-lg fw-900" %>
  </p>
</div>
<div class="section-image">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-header card-avatar">
          <a href="#pablo">
            <img class="img" src="/img/avatars/christian.jpg">
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <h6 class="card-category text-muted">Runs 100km this month</h6>
          <p class="card-description">
            <blockquote class="blockquote">
              <p class="mb-0">Awesome app!<br />I use it daily for all my running sessions!</p>
            </blockquote>
          </p>
        </div>
        <div class="card-footer justify-content-center">
          <a href="#" class="btn btn-secondary">View profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-header card-avatar">
          <a href="#pablo">
            <img class="img" src="/img/avatars/card-profile6-square.jpg">
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Jane Doe</h4>
          <h6 class="card-category text-muted">850 burpees this month</h6>
          <p class="card-description">
            <blockquote class="blockquote">
              <p class="mb-0">Best app for tracking how many calories I'm burning. I've lost 10kg in one month!</p>
            </blockquote>
          </p>
        </div>
        <div class="card-footer justify-content-center">
          <a href="#" class="btn btn-secondary">View profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-header card-avatar">
          <a href="#pablo">
            <img class="img" src="/img/avatars/avatar.jpg">
          </a>
        </div>
        <div class="card-body ">
          <h4 class="card-title">Pamela Doe</h4>
          <h6 class="card-category text-muted">Bikes 350km this month</h6>
          <p class="card-description">
            <blockquote class="blockquote">
              <p class="mb-0">I use it weekly with my team for tracking our swimming session! Very cool app.</p>
            </blockquote>
          </p>
        </div>
        <div class="card-footer justify-content-center">
          <a href="#" class="btn btn-secondary">View profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card text-center">
  <h4 class="fw-900 m-1 p-1 text-secondary">Trusted by winners</h4>
  <div class="card-body">
    <img class="mr-2" src="/img/brands/fff.png" alt="FFF" width="70"/>
    <img class="mr-2" src="/img/brands/olympic.png" alt="Olympic"  width="70"/>
    <img class="mr-2" src="/img/brands/rm.png" alt="RM"  width="70"/>
    <img class="mr-2" src="/img/brands/1fck.png" alt="1fck"  width="70"/>
    <img class="mr-2" src="/img/brands/lakers.png" alt="Lakers"  width="70"/>
    <img class="mr-2" src="/img/brands/miami.png" alt="Miami"  width="70"/>
    <img class="mr-2" src="/img/brands/tdf.png" alt="TDF"  width="70"/>
    <img class="mr-2" src="/img/brands/reebok.png" alt="Reebok"  width="70"/>
    <img class="mr-2" src="/img/brands/nike.png" alt="Nike"  width="70"/>
  </div>
</div>