/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "sports_icons.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.main-content{
  background-color: #fafafa;
  border-radius: 0.3rem;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}

/*
old #9c27b0
new #d4205d
 */
.info{
  padding: unset !important;
  margin: unset !important;
}
.card-transparent{
  background-color: rgba(255,255,255,0.8) !important;
}

.fw-400{
  font-weight: 400 !important;
}

.fw-900{
  font-weight: 900 !important;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #d4205d !important;
  font-size: 2.5rem !important;
}

.facebook{
  background-color: #3b5998 !important;
}

.gplus{
  background-color: #d34836 !important;
}

.info-title-sans-serif{
  color: #3c4858 !important;
  margin: 1.75rem 0 .875rem;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 20px;*/
  background-color: #fff;
  font-size:.75rem;
  text-align:right;
}

.dash-bg{
  background-color: #fff;
}

.big-input{
  font-size:4rem !important;
  height:80px !important;
  text-align:center !important;
}

.align-super{
  vertical-align: super !important;
}

.btn-group-vertical{
  margin: unset !important;
}

#i1:hover, #i2:hover, #inlineRadio1:checked+i, #inlineRadio2:checked+i, #i1.forced, #i2.forced {
  color: #f44336 !important;
}

#i3:hover, #inlineRadio3:checked+i, #i3.forced {
  color: #ffc234 !important;
}

#i4:hover, #i5:hover, #inlineRadio4:checked+i, #inlineRadio5:checked+i, #i4.forced, #i5.forced {
  color: #4caf50 !important;
}