// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepage-bg {
  background:url("/3199490227_b5967f59f6_b.jpg") no-repeat center fixed;
  background-size: cover;
}
.jumbotron {
  background-color: unset !important;
}
.card-profile, .card-testimonial {
  margin-top: 30px;
  text-align: center;
}
.section-image {
  background-position: 50%;
  background-size: cover;
}
.section-image {
  position: relative;
}
.card-profile .card-avatar, .card-testimonial .card-avatar {
  max-width: 130px;
  max-height: 130px;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.card-profile .card-avatar img, .card-testimonial .card-avatar img {
  width: 100%;
  height: auto;
}