// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepage-bg {
  background:url("/3199490227_b5967f59f6_b.jpg") no-repeat center fixed;
  background-size: cover;
}
.jumbotron {
  background-color: unset !important;
}