// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body {
  background-image:url(https://images.unsplash.com/photo-1475234561019-11e030717c51?ixlib=rb-0.3.5&s=6f7e9b0a131cc8554ff23dcf1da19640&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

.navbar-trans {
  background: transparent; }*/