<h1 class="text-center">
  <i class="icons8-<%= @activity.icon %> display-1"></i> <%= @activity.name %>
</h1>
<div class="text-center">
  <%= render 'form', log: @log%>
</div>

<%= link_to 'Back', logs_path %>
