<h1 class="text-center mb-4">New <%= @activity.name.downcase %> session</h1>

<div class="row">
  <div class="col-4 mx-auto">
    <%= render 'form', log: @log %>
  </div>
</div>

<%= link_to 'Back', logs_path %>
