<nav class="footer mb-0 p-0 ">
  <div class="container justify-content-center">
    <% if(user_session) %>
      <%= link_to "Dashboard", logs_path %>
    <% end %>
    &copy; 2018 Move&Groove - All Rights Reserved - Franck Boudraa
  </div>
</nav>