<div class="container">
  <nav class="navbar navbar-light mb-0 p-0">
    <div class="container justify-content-center">
      <h5><span class="text-muted">&copy; 2018 Move&Groove - Franck Boudraa</span></h5>
    </div>
  </nav>
</div>